{{>partials/header}}

  <h2> Qual o seu nome? </h2>

  <form method="POST">
    <input type="text"  name="nome" placeholder="Digite seu nome"/>
    <input type="submit" value="Enviar" />

  </form>

  {{name}}

{{>partials/footer}}